@font-face {
    font-family: 'Sarcolenta';
    src: url('fonts/Sarcolenta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Sarcolenta',Arial, Helvetica, sans-serif !important;
}
.conteudo {
    display: flex;
}
.background-text {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    position: relative;
    color: "back";
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.texto {
    /* position: absolute; */
    align-self: center;
    padding: 12px;
    line-height: 2em !important;
}

.bio {
    /* position: absolute; */
    align-self: center;
    padding: 10px;
    line-height: 1em;
    font-size: 12px !important;
    text-align: justify;
}

.rosa {
   color:rgb(115, 40, 138) !important;
}
.flex {
    display: flex;
    flex-direction: column;
}
.destaque {
    color: white;
    background-color:rgb(115, 40, 138);
    padding-right: 5px;
    padding-left: 5px;
}
.preto {
    color: rgb(29, 29, 29);
    font-weight: 600;
    /* font-size: 16px; */
}
.preto > li {
    line-height: 1.5em;
}

.branco {
    color: rgb(211, 211, 211);
    font-weight: 600;
    font-size: 24px;
}

.branco > li {
    line-height: 2em;
}
.opacity-6{
    background-color: rgba(255, 255, 255, 0.6);
}

span.clouditem {
    padding-left: 0.15em;
    padding-right: 0.15em;
    line-height: 90%;
}

.bloco-reportagens {
    display: flex; 
    flex-direction: row; 
    padding: 15px;    
    flex: 1;
    align-items: center;
	justify-content: space-between;
}
.lista-reportagens{
    width: 50%;
    margin-left: 0 !important;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
}

.lista-reportagens > ol > a {
    color:rgb(138, 40, 97);
    text-decoration: underline;

}
.streaming {
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.lista-radios {
    font-size: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.lista-radios > ol {
    margin: 0  !important;
    color:rgb(29, 29, 29);
    font-weight: bold;
}
.capa {
    box-shadow: 5px 9px 5px #827f7f;
}
.icon {
    width: 35px;
    height: 35px;
    margin: 0  !important;
    margin-right: 10px !important;
}

.r-stretch {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 600px){
    .conteudo {
        height: 100vh;
        display: flex;
    }
   
}

.social-media-button {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 50px; 
    flex: 1; 
    gap: 10px; 
    background-color: rgb(115, 40, 170,0.7); 
    transition: background-color 0.3s ease;
}


.social-media-button:hover {
        background-color: rgb(115, 40, 170, 1);
}

.social-media-container {
    position: absolute; 
    display: flex;  
    width: 100%; 
    z-index: 10000; 
    bottom:0px; 
    justify-content: space-between; 
    left: 5px; 
    bottom: 5px; 
    gap: 2px; 
}